html {
    font-family: 'Kanit', sans-serif;

}

body {
    background-image: url(shara\ desert.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.nav-bar {
    margin-left: 40px;
    margin-right: 80px;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo{
    width:150px;
    height: 60px;
}

.flex-container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 80px;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.round {
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding-top: 5px;
}

.middle {
    position: relative;
    left: 8.5vw;
    width: 40vw;
}

.fix1 {
    font-size: 90px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.windows {
    position: relative;
    left: 55vw;
    bottom: 420px;
    width: 550px;
    height: 25vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 30px;
    float: left;
    margin-top: 20px;


}

.temp1 {
    width: 220px;
    height: 220px;
    border-radius: 15px;
    z-index: 1;
}


.btn1 {
    padding: 15px;
    width: 200px;
    border-radius: 25px;
}

.text1 {
    position: relative;
    bottom: 225px;
}

.fix01 {
    margin-left: 25px;
    font-size: 16px;
    font-weight: 700;
}

.fix02 , .fix03 {
    margin-left: 25px;
    font-size: 10px;
    font-weight: 400;
}

.grid2-item {
    height:37vh;
    transition: all 300ms linear; 
}

.grid2-item:hover {
    transform: translateY(-25px);
}


@media (max-width: 856px) {
    .middle {
        position: static;
        text-align: center;
        width: 100%;
        display: block;
    }

    /* .windows {
        position: relative;
        width: 80vw;
        left: 10%;
        top: 100px;
        width: 550px;
        height: 40vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 20px;
        clear: right;
        margin-top: 10px;
    } */

    .windows {
        padding-top: 80px;
        position: static;
        grid-template-columns: auto;
        width: 100%;
        /* text-align: center; */
        row-gap: 20px;
        justify-content: center;
        row-gap: 60px;
        /* align-content: center; */
    
        
    }

    .temp1 {
        width: 70vw;
        height: 250px;
        border-radius: 15px;
    }

    .nav-bar {
        margin-left: 30px;
        margin-right: 10px;
    }

    .flex-container2 {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .middle {
        position: static;
        text-align: center;
        width: 100%;
        display: block;
    }

     .windows {
        position: static;
        padding-left: 5%;
        width: 100%;
        height: 40vh;
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        row-gap: 40px;
        margin-top: 10px;
    } 

    .temp1 {
        width: 50%;
        height: auto;
        border-radius: 15px;
    }

    

    .nav-bar{
        margin-left: 15px;
        margin-right: 15px;
    }

    .flex-container2 {
        height: 120px;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 7px;
    }

    .text1 {
        bottom: 25vh;
        right: 10px;
    }

}

@media (max-width: 280px) {

    .windows {
        width: 100%;
        /* padding: 5%; */
    }
    .fix01, .fix02, .fix03 {
        font-size: 5px;
    }

}

a {
    color: white;
    text-decoration: none;
}

p {
    color: white;
}
